body{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

#container{
    background-color: #ffffff;
    padding: 40px;
    width: 400px;
    height: 650px;
    border: solid 2px #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    
}

#msg{
    margin-top: 50px;
    font-size: 18px;
    font-weight: bold;
}

