body{
    background-color: #edeff2;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    width: 400px;
    min-height:  350px;
    background-color: white;
    border: none;
    padding: 30px;
    border: solid black 2px;
    border-radius: 20px;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
}


#info, #divpasso{
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-bottom: 20px;
}

#info div {
    display: flex;
    align-items: center; 
}


#calcular {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#btmLimpar{
    display: flex;
    justify-content: center; 
    margin-top: 15px;
}

#botaoLimpar{
    display: none;
}

input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px; 
    width: 80px;       
    transition: all 0.3s ease;
    outline: none; 
    background-color: #f9f9f9;     
}

input:focus {
    border-color: #2c3e50; 
    box-shadow: 0px 0px 8px rgba(44, 62, 80, 0.2);
}

label {
    font-weight: bold;
    margin-right: px;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    padding: 12px 25px;
    background-color: #4d4949;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background-color: #333; 
}

button:active {
    transform: scale(0.96);
}

#res {
    display: flex;          
    flex-wrap: wrap;       
    justify-content: center; 
    align-items: center;     
    text-align: center;      
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 12px;
    font-weight: bold;
    color: #2c3e50;
    line-height: 3;          
}

#area-botao {
    display: flex;
    justify-content: center; /* Centraliza o botão horizontalmente */
    margin-top: 15px;       /* Dá um espaço do botão de calcular */
}

