body{
    background-color: #bfb8b8;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: aliceblue;
}

#container{
    background-color: #4d4949de;
    padding: 30px;
    width: 500px;
    height: 600px;
    border: solid 5px #f1e8e8  ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 #container-nome{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}
 #container-setor{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}


#nome, #setor {
    margin-top: 7px;
    width: 100%;           
    padding: 15px;         
    font-size: 18px;       
    border: 1px solid #ccc;
    border-radius: 8px;   
    box-sizing: border-box; 
    outline: none;    
}

#container #enviar{
    width: 100%;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #8c8686;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#container #enviar:hover{
    background-color: #a39e9e;
}

#res{
    margin-top: 15px;
}

#res imagem{
    width: 50px;
    height: 50px;
}



